/*-- scss:defaults --*/


/*-- some colours --*/

$white:       #fff;
$sand:        #f7f1e1;
$sandlight:   #fcfaf2;
$warmred:     #ad2e11;
$modbrick:    #fa916e;
$sanddark:    #f5d89a;
$sanddarker:  #94690c;
$darkblue:    #0542a3;

/*-- some fonts --*/

$font-family-sans-serif: "Open Sans", "Cambria", "Georgia", "serif";

$body-bg:     $sandlight;
$toc-color:   $sanddarker;
$popover-bg:  $modbrick;
$navbar-bg:   $darkblue;

/*-- scss:rules --*/